flows.json
[
    {
        "id": "c50efc5d.edf9d",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "c95a0878.a7afa",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.84",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3b13e227.7e25c6",
        "type": "mqtt-broker",
        "z": "",
        "name": "Camera",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e0014c7f.010148",
        "type": "mqtt-broker",
        "z": "",
        "name": "Lorawan-Proxy",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "24aaa0df.7f70e",
        "type": "mqtt-broker",
        "z": "",
        "name": "getlarge account",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "10e7685e.29f718",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9e6c776d.11fb98",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "10e7685e.29f718",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "8211ad14.71afb8",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#133f50",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0c4245",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#04436a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#04436a",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#035b91",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#04436a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Aloes GW Bridge",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "de72091a.390e08",
        "type": "ui_tab",
        "z": 0,
        "name": "Config",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "47edbaf4.013314",
        "type": "ui_group",
        "z": 0,
        "name": "WiFi",
        "tab": "de72091a.390e08",
        "order": 1,
        "disp": true,
        "width": "8"
    },
    {
        "id": "7669ff8e.4c",
        "type": "ui_group",
        "z": 0,
        "name": "LoRaWAN",
        "tab": "de72091a.390e08",
        "order": 2,
        "disp": true,
        "width": "8"
    },
    {
        "id": "6ac0da26.c60e54",
        "type": "ui_link",
        "z": 0,
        "name": "",
        "link": "https://app.aloes.io",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "78ebd1b.e2249b",
        "type": "ui_group",
        "z": 0,
        "name": "LoRa",
        "tab": "26c74f25.fceaa",
        "disp": true,
        "width": "8"
    },
    {
        "id": "26c74f25.fceaa",
        "type": "ui_tab",
        "z": 0,
        "name": "Logs",
        "icon": "dashboard"
    },
    {
        "id": "4482bc24.43548c",
        "type": "mqtt-broker",
        "z": "",
        "name": "Test-button",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c4d24b80.8a5d08",
        "type": "mqtt-broker",
        "z": "",
        "name": "camera-2",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d7d46109.e5426",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 450,
        "y": 500,
        "wires": []
    },
    {
        "id": "c75c3705.28b5f8",
        "type": "inject",
        "z": "c50efc5d.edf9d",
        "name": "Test-button/POST/3306/1/5850",
        "topic": "5c96937cc08c0333b7958b6f/IoTAgent/POST",
        "payload": "{\"id\":\"5c9ba600db6113654fa1f53d\",\"devEui\":\"GHADSRNDJQEWK54QU78US3PMAE4E8LLS\",\"accountId\":\"5c96937cc08c0333b7958b6f\",\"deviceId\":\"5c9b9fb0d0c21b6465b889e9\",\"nativeSensorId\":\"1\",\"transportProtocol\":\"aloesLight\",\"messageProtocol\":\"aloesLight\",\"inPrefix\":\"-in\",\"outPrefix\":\"-out\",\"type\":3306,\"resource\":5850,\"value\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "d7d46109.e5426"
            ]
        ]
    },
    {
        "id": "c33df311.7ea01",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1590,
        "y": 240,
        "wires": []
    },
    {
        "id": "3343dd00.3eba6c",
        "type": "json",
        "z": "c50efc5d.edf9d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "ace484f1.19ae98"
            ]
        ]
    },
    {
        "id": "9f3c82f4.f17a58",
        "type": "file",
        "z": "c50efc5d.edf9d",
        "name": "",
        "filename": "pics.jpeg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1440,
        "y": 280,
        "wires": [
            [
                "c33df311.7ea01"
            ]
        ]
    },
    {
        "id": "ace484f1.19ae98",
        "type": "function",
        "z": "c50efc5d.edf9d",
        "name": "",
        "func": "if (msg) return msg\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "x": 1310,
        "y": 240,
        "wires": [
            [
                "c33df311.7ea01"
            ]
        ]
    },
    {
        "id": "38e42b48.b3c9b4",
        "type": "comment",
        "z": "c50efc5d.edf9d",
        "name": "Sensors presentations",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "95773c2.a87094",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "245fb769.ff4ba8",
        "type": "inject",
        "z": "c50efc5d.edf9d",
        "name": "Test-button : HEAD : 3306 : 1 : 5850",
        "topic": "GHADSRNDJQEWK54QU78US3PMAE4E8LLS-out/0/3306/1/5850",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "95773c2.a87094",
                "b80bf8d4.d07fd8"
            ]
        ]
    },
    {
        "id": "b80bf8d4.d07fd8",
        "type": "mqtt out",
        "z": "c50efc5d.edf9d",
        "name": "Test-button",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4482bc24.43548c",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "e932f508.890388",
        "type": "comment",
        "z": "c50efc5d.edf9d",
        "name": "Sensors interactions",
        "info": "",
        "x": 140,
        "y": 404,
        "wires": []
    },
    {
        "id": "b7edf76d.e75358",
        "type": "comment",
        "z": "c50efc5d.edf9d",
        "name": "Devices debug",
        "info": "",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "189dfa.eade2a06",
        "type": "comment",
        "z": "c50efc5d.edf9d",
        "name": "Sensors events",
        "info": "",
        "x": 140,
        "y": 840,
        "wires": []
    },
    {
        "id": "dfdf930b.4f596",
        "type": "mqtt in",
        "z": "c50efc5d.edf9d",
        "name": "Test-button-out",
        "topic": "GHADSRNDJQEWK54QU78US3PMAE4E8LLS-out/#",
        "qos": "2",
        "broker": "4482bc24.43548c",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "2240264d.c954c2"
            ]
        ]
    },
    {
        "id": "948946be.b3df5",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 650,
        "y": 920,
        "wires": []
    },
    {
        "id": "3962bbb8.0afd94",
        "type": "mqtt out",
        "z": "c50efc5d.edf9d",
        "name": "Camera-2",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "c4d24b80.8a5d08",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "9e80f1b2.0d7628",
        "type": "inject",
        "z": "c50efc5d.edf9d",
        "name": "Camera-2/POST/3349/2/5911",
        "topic": "16769688-in/1/3349/2/5911",
        "payload": "true",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 760,
        "wires": [
            [
                "3962bbb8.0afd94",
                "34c91fba.3065d"
            ]
        ]
    },
    {
        "id": "e73fda7b.2b432",
        "type": "mqtt in",
        "z": "c50efc5d.edf9d",
        "name": "Camera-2",
        "topic": "16769688-out/#",
        "qos": "2",
        "broker": "c4d24b80.8a5d08",
        "x": 120,
        "y": 1100,
        "wires": [
            [
                "6c456fef.874d4"
            ]
        ]
    },
    {
        "id": "caaaf9a1.6c9808",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 570,
        "y": 1140,
        "wires": []
    },
    {
        "id": "148d0272.60ccde",
        "type": "switch",
        "z": "c50efc5d.edf9d",
        "name": "",
        "property": "parts[4]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5910",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5850",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "520c6d50.cc2be4",
                "a72deab6.54c9",
                "caaaf9a1.6c9808"
            ],
            []
        ]
    },
    {
        "id": "520c6d50.cc2be4",
        "type": "file",
        "z": "c50efc5d.edf9d",
        "name": "",
        "filename": "/tmp/example.jpg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 610,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a72deab6.54c9",
        "type": "ui_template",
        "z": "c50efc5d.edf9d",
        "group": "9e6c776d.11fb98",
        "name": "",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<div id=\"{{'stream-view-'+$id}}\" style=\"{{'width:100%'}}\">\n    <img id=\"{{'stream-viewer-'+$id}}\">\n</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Do something when msg arrives\n        console.log(\"new message\", msg.payload)\n        var blob = new Blob([msg.payload]);\n        var urlCreator = window.URL || window.webkitURL;\n        var imageUrl = urlCreator.createObjectURL(blob);\n        document.querySelector(\"#stream-viewer-\"+scope.$id).src = imageUrl;\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 580,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "1d274cbf.4b473b",
        "type": "http response",
        "z": "c50efc5d.edf9d",
        "name": "",
        "x": 750,
        "y": 1480,
        "wires": []
    },
    {
        "id": "cc133d63.de9988",
        "type": "function",
        "z": "c50efc5d.edf9d",
        "name": "Set Content-Type header",
        "func": "msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "1d274cbf.4b473b"
            ]
        ]
    },
    {
        "id": "52535a68.76bcd4",
        "type": "file in",
        "z": "c50efc5d.edf9d",
        "name": "",
        "filename": "/tmp/example.jpg",
        "format": "",
        "x": 350,
        "y": 1480,
        "wires": [
            [
                "cc133d63.de9988"
            ]
        ]
    },
    {
        "id": "34461dd9.2abe4a",
        "type": "http in",
        "z": "c50efc5d.edf9d",
        "name": "",
        "url": "/testImage",
        "method": "get",
        "swaggerDoc": "",
        "x": 158,
        "y": 1475,
        "wires": [
            [
                "52535a68.76bcd4"
            ]
        ]
    },
    {
        "id": "b0da6f86.ec228",
        "type": "ui_button",
        "z": "c50efc5d.edf9d",
        "name": "Test-button/POST/3306/1/5850",
        "group": "9e6c776d.11fb98",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "camera-manuel-panic",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "GHADSRNDJQEWK54QU78US3PMAE4E8LLS-out/1/3306/1/5850",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "cb632b58.90433",
                "221f26e8.7404f2"
            ]
        ]
    },
    {
        "id": "cb632b58.90433",
        "type": "mqtt out",
        "z": "c50efc5d.edf9d",
        "name": "Test-button",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4482bc24.43548c",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "d19afa7b.f156c8",
        "type": "mqtt in",
        "z": "c50efc5d.edf9d",
        "name": "Test-button-in",
        "topic": "GHADSRNDJQEWK54QU78US3PMAE4E8LLS-in/#",
        "qos": "2",
        "broker": "4482bc24.43548c",
        "x": 140,
        "y": 956,
        "wires": [
            [
                "2240264d.c954c2"
            ]
        ]
    },
    {
        "id": "d10eb973.75ce8",
        "type": "switch",
        "z": "c50efc5d.edf9d",
        "name": "",
        "property": "parts[4]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5850",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5851",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "948946be.b3df5",
                "e2c9e52e.fce708"
            ],
            []
        ]
    },
    {
        "id": "16044cdc.af0b13",
        "type": "ui_slider",
        "z": "c50efc5d.edf9d",
        "name": "Test-button/POST/3306/1/5851",
        "label": "slider",
        "tooltip": "",
        "group": "9e6c776d.11fb98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "GHADSRNDJQEWK54QU78US3PMAE4E8LLS-out/1/3306/1/5851",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "cb632b58.90433",
                "221f26e8.7404f2"
            ]
        ]
    },
    {
        "id": "2240264d.c954c2",
        "type": "function",
        "z": "c50efc5d.edf9d",
        "name": "topicSplit",
        "func": "msg.parts = msg.topic.split(\"/\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 920,
        "wires": [
            [
                "d10eb973.75ce8"
            ]
        ]
    },
    {
        "id": "e2c9e52e.fce708",
        "type": "function",
        "z": "c50efc5d.edf9d",
        "name": "toCamera2",
        "func": "msg.topic = \"16769688-in/1/3349/2/5911\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "3962bbb8.0afd94"
            ]
        ]
    },
    {
        "id": "6c456fef.874d4",
        "type": "function",
        "z": "c50efc5d.edf9d",
        "name": "topicSplit",
        "func": "msg.parts = msg.topic.split(\"/\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 1100,
        "wires": [
            [
                "148d0272.60ccde"
            ]
        ]
    },
    {
        "id": "221f26e8.7404f2",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "34c91fba.3065d",
        "type": "debug",
        "z": "c50efc5d.edf9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 720,
        "wires": []
    }
]