lib/flows/aloes/aloes-client-in.json
[
    {
        "id": "f8e383b4.553188",
        "type": "mqtt in",
        "z": "454ee7c6.b46f98",
        "name": "Aloes in",
        "topic": "${ALOES_TOPIC_IN}",
        "qos": "2",
        "datatype": "auto",
        "broker": "843e0fc0.6faea",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "2b31d0e.288a33"
            ]
        ]
    },
    {
        "id": "2b31d0e.288a33",
        "type": "function",
        "z": "454ee7c6.b46f98",
        "name": "parsePacket",
        "func": "if (!msg.topic) return [null,null];\nmsg.parts = msg.topic.split(\"/\");\nmsg.payload = JSON.parse(msg.payload);\n// check that msg.parts[0] === env.get(\"MQTT_BROKER_USER\")\nif (env.get(\"debug\")) {\n    return [msg,msg];\n}\nreturn [msg,null];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "fcc583bc.d2e32"
            ],
            [
                "36cbd799.a5383"
            ]
        ]
    },
    {
        "id": "fcc583bc.d2e32",
        "type": "switch",
        "z": "454ee7c6.b46f98",
        "name": "CollectionName",
        "property": "parts[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "sensor",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "device",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "iotagent",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "auth",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "7d178eca.8f2e4"
            ],
            [
                "62444a71.c9ac5c"
            ],
            [],
            [
                "8eea3e46.43573"
            ]
        ]
    },
    {
        "id": "7d178eca.8f2e4",
        "type": "change",
        "z": "454ee7c6.b46f98",
        "name": "sensor instance",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "sensor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "62444a71.c9ac5c",
        "type": "change",
        "z": "454ee7c6.b46f98",
        "name": "device instance",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "device",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "36cbd799.a5383",
        "type": "debug",
        "z": "454ee7c6.b46f98",
        "name": "Aloes-Client-In",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 380,
        "wires": []
    },
    {
        "id": "8eea3e46.43573",
        "type": "change",
        "z": "454ee7c6.b46f98",
        "name": "auth response",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "auth",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d1b1492.4635f4",
        "type": "status",
        "z": "454ee7c6.b46f98",
        "name": "Aloes-Client status",
        "scope": [
            "f8e383b4.553188"
        ],
        "x": 150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "843e0fc0.6faea",
        "type": "mqtt-broker",
        "z": "454ee7c6.b46f98",
        "name": "Aloes client",
        "broker": "${ALOES_MQTT_HOST}",
        "port": "${ALOES_MQTT_PORT}",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]