lib/flows/aloes/aloes-client-out.json
[
  {
    "id": "9f87363f.569e18",
    "type": "mqtt out",
    "z": "204303d7.5bcc04",
    "name": "Aloes out",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "c54750f7.89655",
    "x": 600,
    "y": 300,
    "wires": []
  },
  {
    "id": "ea3c7b88.6a6fe",
    "type": "function",
    "z": "204303d7.5bcc04",
    "name": "",
    "func": "try {\n    if (!msg.topic || msg.topic === null) throw new Error(\"no topic to send message\");\n    msg.parts = msg.topic.split(\"/\");\n    const userId = env.get(\"ALOES_USER\");\n    if (!userId || msg.parts[0] !== userId) throw new Error(\"Invalid userId\");\n    const qos = env.get(\"qos\") || \"0\";\n    const retain = env.get(\"retain\") || \"false\";\n    msg.qos = Number(qos);\n    msg.retain = Boolean(retain);\n    if (env.get(\"debug\")) {\n        console.log(\"aloes-client-out\", msg instanceof Error)\n        return [msg,msg];\n    }\n    return [msg,null];\n} catch(error) {\n    return error;\n}\n",
    "outputs": 2,
    "noerr": 0,
    "x": 430,
    "y": 320,
    "wires": [["9f87363f.569e18"], ["12e273a.f0f478c"]]
  },
  {
    "id": "12e273a.f0f478c",
    "type": "debug",
    "z": "204303d7.5bcc04",
    "name": "Aloes-Client-Out",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 470,
    "y": 400,
    "wires": []
  },
  {
    "id": "c747a526.aef76",
    "type": "status",
    "z": "204303d7.5bcc04",
    "name": "Aloes-Client status",
    "scope": ["9f87363f.569e18"],
    "x": 370,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "c54750f7.89655",
    "type": "mqtt-broker",
    "z": "204303d7.5bcc04",
    "name": "Aloes client",
    "broker": "${ALOES_MQTT_HOST}",
    "port": "${ALOES_MQTT_PORT}",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
